<!DOCTYPE html>
<html>
<head>
    <title>Nepal AQI Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        body { margin: 0; padding: 0; }
        #map { height: 100vh; width: 100%; }
        .tooltip {
            background: white;
            padding: 10px;
            border-radius: 4px;
            font-size: 14px;
        }
    </style>
</head>

<body>

<div id="map">

    <div id="aqi-legend">
    <h4>AQI Levels (OpenWeather)</h4>
    <table>
        <tr><td><span class="circle" style="background: green;"></span></td><td>1 - Good</td></tr>
        <tr><td><span class="circle" style="background: yellow;"></span></td><td>2 - Fair</td></tr>
        <tr><td><span class="circle" style="background: orange;"></span></td><td>3 - Moderate</td></tr>
        <tr><td><span class="circle" style="background: red;"></span></td><td>4 - Poor</td></tr>
        <tr><td><span class="circle" style="background: purple;"></span></td><td>5 - Very Poor</td></tr>
    </table>
</div>



</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    const map = L.map('map').setView([28.3, 84], 7);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    // AQI Color Codes
    function aqiColor(aqi) {
        return {
            1: "green",
            2: "yellow",
            3: "orange",
            4: "red",
            5: "purple"
        }[aqi] || "gray";
    }

    // Fetch AQI from backend
    fetch("/aqi")
        .then(res => res.json())
        .then(data => {
            data.forEach(city => {
                const marker = L.circleMarker([city.lat, city.lon], {
                    radius: 10,
                    color: aqiColor(city.aqi),
                    fillColor: aqiColor(city.aqi),
                    fillOpacity: 0.7
                }).addTo(map);

                const tooltipHTML = `
                    <div class="tooltip">
                        <strong>${city.name}</strong><br>
                        AQI: ${city.aqi}<br><br>
                        <b>PM2.5:</b> ${city.components.pm2_5}<br>
                        <b>PM10:</b> ${city.components.pm10}<br>
                        <b>CO:</b> ${city.components.co}<br>
                        <b>NO₂:</b> ${city.components.no2}<br>
                        <b>SO₂:</b> ${city.components.so2}<br>
                        <b>O₃:</b> ${city.components.o3}
                    </div>
                `;

                marker.bindTooltip(tooltipHTML);
            });
        });
</script>

</body>
</html>
