body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

#map {
    height: 600px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 8px;
}
